.episode-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .episode-list {
    width: 100%;
  }

  @media(min-width:800px) {
    .episode-list {
      width: 45%;
    }
    .podcast-description {
      display: block;
    }
  }