.error {
    color: #f44336;
    background-color: #eceff1;
    display: block;
    width: 60%;
    border-radius: 1rem;
    margin: 2rem 0;
  }
  
  .success {
    background-color: #eceff1;
    display: block;
    width: 60%;
    border-radius: 1rem;
    margin: 2rem 0;
    padding: .5rem;
    color: black;
  }
  
  .signup-form {
    background-color: #e1f5fe;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid white;
  }