.nav-bar {
  position: fixed;
  top: 0;
  overflow: scroll;
  width: 100%;
  z-index: 1000;
}

.bm-burger-button {
    position: fixed;
    width: 1.4rem;
    height: 1.25rem;
    top: 1.25rem;
    left: 1.25rem;
}
  
.bm-burger-bars {
    background: white
}

.bm-menu {
    background: #373a47;
    font-size: 1.15rem;
  }  


  @media(min-width:700px) {
    .bm-burger-bars {
      display: none;
    }
    .bm-burger-button {
      display: none;
    }
  }