.player-dash {
    display: flex;
    justify-content: space-between;
    color: black;
}

.player-arrow {
  color: white;
}

.player-buttons-container {
  display: flex;
  justify-content: space-around;
}

.reaction-btn {
    width: 100%;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    background-color: #F4FFFD;
    color: black;
    cursor: pointer;
  }
