.reaction-feed-container {
    width: 100%;
}

.reaction-feed {
    margin: 0 auto;
    height: 300px;
    max-width: 40rem;
    overflow: auto;
}

.reaction-item {
    display: block;
}

.text-card-style {
    font-size: 2rem;
    margin: 0 auto;
    word-wrap: break-word;
}

.card-chips {
    display: flex;
    justify-content: space-between;
}
