.SlideIn-appear {
    transform: translateX(60px);
    opacity: 0;
}

.SlideIn-appear.SlideIn-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-in;
    }
  
.SlideIn-leave {
    opacity: 0.1;
    transform: translateX(0);
    }

.SlideIn-leave.SlideIn-leave-active {
    opacity: 1;
    width: 100%;
    transform: translateX(-60px);
    transition: all 1s ease-in;
    }
  
.slide-enter {
    width: .1%;
    }
  
.slide-enter.slide-enter-active {
    width: 100%;
    transition: width 800ms ease-in;
    }
  
.fade-leave {
    opacity: 1;
    }
  
.fade-leave.fade-leave-active {
    opacity: 0.1;
    transition: opacity 500ms ease-out;
    }
  
.fade-enter {
    opacity: 0.01;
    }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .fade-appear {
    opacity: 0.01;
  }
  
  .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }