body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(16,16,16);
  color: gray;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center {
  display: flex;
  justify-content: center;
}

.podcast-container {
  background: pink;
}

.pod-card-container {
  width: 250px;
  display: flex;
  justify-content: center;
}

.one-pod-card {
  opacity: .1;
}

.episode-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.episode-list {
  width: 45%;
  opacity: .85;
}

.pod-card {
  background-color: gray;
  width: 100%;
}

.player-btn, .reaction-btn {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 90%;
  background-color: #136F63;
  color: #FFAD05
}

.player-btn:hover{
  color: #C44536;
  background-color: white;
  transition: 1s;
}

.discover-result {
  background-color: rgba(199,190,190, .5);
  border-radius: 2.5%;
  color: black;
  padding: 2.5%;
}

.discover-info {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.add-new-podcast {
  color: #136F63;
  padding: .25rem;
}

.add-new-podcast:hover {
  color: yellow;
  background-color: #136F63;
  border-radius: 100%;
  transition: 1.5s;
}