body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(16,16,16);
  color: gray;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center {
  display: flex;
  justify-content: center;
}

.pod-card-container {
  width: 250px;
  display: flex;
  justify-content: center;
}

.podcast-description {
  display: none;
}

.pod-card {
  background-color:#DCDCDC;
  width: 100%;
}

.slide-enter {
  width: .1%;
}

.slide-enter.slide-enter-active {
  width: 100%;
  transition: width 800ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.1;
  transition: opacity 500ms ease-in;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}


@media(min-width:800px) {
  .episode-list {
    width: 45%;
  }
  .podcast-description {
    display: block;
  }
  .player-btn {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 90%;
    background-color: #F4FFFD;
    color: black;
    cursor: pointer;
  }
}