body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans';
  background-image: url('./img/px_by_Gre3g.png');
  background-attachment: fixed;
  color: gray;
}

.center {
  display: flex;
  justify-content: center;
}

@media(min-width:700px) {

  .podcast-description {
    display: block;
  }
  .main-content {
    margin-top: 5rem;
  }

}
